/* .abs {
    position: absolute;
}

.rel {
    position: relative;
} */

.review-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.review {
    border-bottom: 1px solid black;
    margin: 1rem;
}
.review div {
    margin: .5rem;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}
.fa-star {
    color: goldenrod;
}
.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}
.review-modal {
    padding: 1rem;
}
.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-stars-label {
    display: flex;
    align-items: center;
}
.review-textarea {
    padding: .5rem;
    background-color: #412635;
    color: white;
    border: 1px solid black;
}

.h3-reviews{
    margin-top: 1rem;
    border-bottom: 1px solid black;
}
.review-p {
    word-wrap: break-word;
}
