.new-story-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
    width: 500px;
    border-radius: 2rem;
    box-shadow: 0 0 10px 5px #7B586B;
    margin-bottom: 2rem;
    /* background-color: rgba(112, 77, 77, 0.521); */
    /* background: rgb(0, 0, 0); */
    /* box-shadow: 0 0 5px 5px black; */
    /* color: white; */
}
.cost-div {
    text-align: center;
    margin: 0rem;
    width: 150px;
    border-left: 1px solid rgb(0, 0, 0);
}
.active-close {
    margin-top: 1rem;
}
.red::placeholder{
    color: rgb(255, 0, 0, .7);
}
.ctr {
    text-align: center;
}
.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story-form-div {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}
.story-form-img {
    margin-right: 1rem;
    border: 2px solid black;
    width: 300px;
    margin-top: 4rem;
    height: 390px;
    border-radius: 5px;
}

.label {
    margin: .5rem;
}

textarea
{
   resize: none;
}

.mature {
    display: flex;
    align-items: center;
    width: 110px;
    /* align-self: center; */
}
.mature input {
    height: 20px;
}


.details-contents {
    display: flex;
    justify-content: center;
}

.details-contents span {
    font-size: 1.25rem;
    margin: .5rem;

    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: .5rem;
}

.details-contents span:hover {
    background-color: #7B586B;
    color: white;
    cursor: pointer;
}

.chapter-li {
    width: 70%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 2px #7B586B;
    list-style-type:none;
    height: 5em;
    margin-top: 1rem;
    justify-content: center;
}
.chapter-li button {
    /* height: 2rem; */
    margin-left: .5rem;
    margin-right: .5rem;
}
.chapter-li button:hover {
    box-shadow: 0 0 5px 1px #7B586B;
    cursor: pointer;
}
.table-of-contents-div {
    display: flex;
    justify-content: center;

}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.table-of-contents {
    width: 70vw;
    /* border: 1px solid rgb(62, 29, 212); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.table-of-contents > button {
    padding: 1rem;
    color: white;
    background-color: black;
    box-shadow: none;
    border-radius: 1rem;
}
.table-of-contents > button:hover{
    background: #7B586B;
    cursor: pointer;
}
.the-h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-left: 1rem;
}
.back{
    padding: 1rem;
    color: white;
    background-color: black;
    box-shadow: none;
    border: none;
    border-radius: 1rem;
}
.back:hover{
    background-color: #7B586B;
}
.submit-story-button {
    align-self: center;
}

.story-tag-selection-div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-tag-selection-div h5 {
    margin: 1rem 0;
}

.story-title-modal-div {
    position: relative;
}
.tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    background-color: grey;
    margin: .25rem;
    padding: .25rem .75rem;
}
.tag-area {
    display: flex;
    flex-wrap: wrap;
    margin: .33rem 0;
}
.tag:hover{
    cursor:pointer;
}

.x {
    margin-left: .5rem;
    color: black;
}

#file-input{
    padding: 0;

}

.story-category-selector {
    margin-top: 0.25rem;
    padding: 0.2rem 0;
}
.input-tag-div {
    border: 2px solid black;
}
.tag-input {
    border: 1px solid green;
    background: none;
    color: white;
    padding: .5rem;

  }
.tag-input:first-child {
    /* background-color: green; */
    /* border: 1px solid black;
    width: max-content; */
}
.cost-modal-div {
    padding: 1rem;
}

.edit-cost-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-cost-form input {
    width: 50px;
    max-width: max-content;
    text-align: center;
}
.edit-cost-btn {
    margin-top: 1rem;
}

.first-chap-free{
    width: 265px;
}


.rel { position: relative;}
