.story-img-li {
    display: flex;
    height: 10rem;
    width: 10rem;
    text-decoration: none;
}
.story-img-li:hover{
    /* box-shadow: 0 0 10px 10px coral; */
    /* cursor: pointer; */
}
.story-cover-img{
    width: 100px;
}
.story-cover-img:hover {
    box-shadow: 0 0 5px 5px #7B586B;
    cursor: pointer;
}

.recommended-ul {
    display: flex;
}

.recommended-div {
    box-shadow: 0 0 10px 5px #7B586B;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 1rem 15%;
    background-image: linear-gradient(to left, #1d0f0f, #453c41);
    border-radius: 1rem;
}

.home-li {
    display: flex;
    align-items: center;
}
.start {
    background-color: #bd88a5;
}
.start:hover {
    cursor: pointer;
}
.story-details-modal {
    height: 25rem;
    width: 40rem;
    display: flex;
    padding: 1rem;
    /* background-color: white;
    border-radius: 5rem; */
    /* margin: 1rem; */
    /* border: 5px solid green; */
    /* border-radius: 50px; */
}

.cover-img-div {
    width: 50%;
    height: 100%;
}
.cover-img {
    height: 100%;
    width: 100%;
}

.info-modal-div {
    margin-left: 1rem;
    width: 50%;
}

.info-modal-div div {
    margin-bottom: .5rem;
}

.welcome > h2 {
text-align: center;
}
.welcome > p {
    text-align: center;
}
.welcome > p  > button {
    /* margin-left: 1rem; */
    color: white;
    padding: .15rem;
    background: #7B7C81;
}
.welcome > p  > button:hover{
    /* margin-left: 1rem; */
    cursor: pointer;
    background-color: #7B586B;
}

.ghost-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 0 5rem;
    border: 1px solid black;
}
.ghost-pic-div {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.recommended-div > img{
    width: 100px;
    height: 100px;
}

.recommended {
    padding: 1rem;
}
.recommended > h2 {
    margin-bottom: .5rem;
}
.all-stories-button {
    margin-left: .25rem;
    /* border: none; */
    background: none;
}
.all-stories-button:hover{
    /* background-color: coral; */
}

.no-parts {
    /* border: 1px solid black; */
    margin-left: .2rem;
}

.description-p {
    margin-left: .2rem;
    /* height: 315px; */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
}

.tab-selector{
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}
.active-tab{
    background-color: rgb(139, 66, 66);
}
