.story-img-li {
    display: flex;
    height: 10rem;
    width: 10rem;
    text-decoration: none;
}

.story-cover-img {
    /* height: 100px;
    width: 100px; */
}

.recommended-ul {
    display: flex;
}

.recommended-div {
    box-shadow: 0 0 10px 1px rgb(70, 64, 64);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 1rem 15%;
    background: rgb(97, 91, 91)
}

.home-li {
    display: flex;
    align-items: center;
}

.story-details-modal {
    height: 25rem;
    width: 40rem;
    display: flex;
    padding: 1rem;
    /* background-color: white;
    border-radius: 5rem; */
    /* margin: 1rem; */
    /* border: 5px solid green; */
    /* border-radius: 50px; */
}

.cover-img-div {
    width: 50%;
    height: 100%;
}
.cover-img {
    height: 100%;
    width: 100%;
}

.info-modal-div {
    margin-left: 1rem;
}

.info-modal-div div {
    margin-bottom: .5rem;
}

.welcome > h2 {
text-align: center;
}
.welcome > p {
    text-align: center;
}
.welcome > p  > button {
    /* margin-left: 1rem; */
    padding: .15rem;
}
.welcome > p  > button:hover{
    /* margin-left: 1rem; */
    cursor: pointer;

}

.ghost-pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-self: center;
    margin: 0 1rem;
}
.ghost-pic-div {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.recommended-div > img{
    width: 100px;
    height: 100px;
}

.recommended {
    padding: 1rem;
}
.recommended > h2 {
    margin-bottom: .5rem;
}
.all-stories-button {
    margin-left: .25rem;
    /* border: none; */
    background: none;
}
.all-stories-button:hover{
    box-shadow: 1px 1px 1px 1px rgb(48, 48, 48);
}
