.story-img-li {
    display: flex;
    height: 10rem;
    width: 10rem;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.story-img-li:hover{
    /* box-shadow: 0 0 10px 10px coral; */
    /* cursor: pointer; */
}
.story-cover-img{
    width: 100px;
    aspect-ratio: 2/3;
}
.story-cover-img:hover {
    box-shadow: 0 0 5px 5px #7B586B;
    cursor: pointer;
}

.recommended-ul {
    display: flex;
}

.recommended-div {
    box-shadow: 0 0 10px 5px #7B586B;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left,  #35203f, #33282e);
    border-radius: 1rem;
    width: max-content;
    align-self: center;
    justify-self: center;
}

.home-li {
    display: flex;
    align-items: center;
}
.start {
    /* background-color: #bd88a5; */
}
.start:hover {
    cursor: pointer;
}
.story-details-modal {
    height: 25rem;
    width: 40rem;
    display: flex;
    padding: 1rem;
}

.cover-img-div {
    width: 50%;
    height: 100%;
}
.cover-img {
    height: 100%;
    width: 100%;
}

.info-modal-div {
    margin-left: 1rem;
    width: 50%;
}

.info-modal-div div {
    margin-bottom: .5rem;
}

.welcome {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.welcome > h2 {
text-align: center;
}
.welcome > p {
    text-align: center;
}

.ghost-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    margin: 0 5rem;
    border: 1px solid black;
}
.ghost-pic-div {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.recommended-div > img{
    width: 100px;
    height: 100px;
}

.recommended {
    padding: 1rem;
}
.recommended > h2 {
    margin-bottom: .5rem;
}
.all-stories-button {
    margin-left: 0.25rem;
    padding: 0.25rem;
    background: black;
}

.parts {
    /* border-bottom: 1px solid black; */
    margin: .75rem 0;
}

.description-p {
    /* margin-left: .2rem; */
    /* height: 315px; */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 15;
    /* border-bottom: 1px solid black; */
}

.tab-selector{
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}
.active-tab{
    background-color: rgb(139, 66, 66);
}
.tag-input {
   /* background-color: green; */
   /* color: green; */
    border: none;
}
.tag-input:hover{
    border: none;
    outline: none;
}
.tag-input::selection{
    border: none;
    outline: none;
}
.tag-input:focus-within{
    /* border:none;
    outline: none; */
}
.tag-input:focus{
    border:none;
    outline: none;
}

.file-input{
    width: auto;
}
.file-input:hover, .file-label:hover{
    cursor: pointer;
    background-color: rgb(124, 13, 119, .3);
}
.file-label, .file-input{
    width: 200px;
}

.nothin {
    padding: 1rem;
    text-align: center;
}

.random-stories {
    padding: 1rem;
}

.recommended-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency {
    position: absolute;
    top: .25rem;
    transform: translateX(-50%);
    color: gold;
    /* background-color: green; */
    padding: .25rem;
    border-radius: 50%;
}

.rel {
    position: relative;
}

.welcome-h2 {
    margin-bottom: 1.5rem;
}
.back-to-rec {
    margin-bottom: 1.5rem;
}
