body {
  background-image: linear-gradient(to right, #1d0f0f, #453c41);
  color: white;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}
ul {
  list-style-type:none;
}
p {
}

.profile-dropdown {
  border-radius: 0.5rem;
  position: absolute;
  border: 1px solid black;
  /* right: 1rem; */
  width: max-content;
  padding: 0.5rem;
  /* top: 1.5rem; */
  background-color: #917fb3;
  /* transform: translateX(-30%); */
  z-index: 1;
  line-height: 1.5rem;
}

.profile-dropdown button {
 background: none;
 border: none;
 display: flex;
}
.profile-dropdown > button {
  /* margin-top: .25rem; */
}
.profile-dropdown li {
  /* margin-bottom: .25rem; */
  display: flex;
  justify-content: center;
  width: max-content;
}
.user-info {
  font-size: .85rem;
}
.wraith {
  margin-bottom: .33rem;
  border-bottom: 1px solid black;
}

.profile-dropdown button:hover {
  color: #D4DBE2;
  cursor: pointer;
}
#logout-button:hover {
  color: red;
}

.wordwraiths-home {
  text-decoration: none;
  color: #7B586B;
  background-color: black;
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
}

.wordwraiths-home:hover {
  color: white;
}

.home-li {
  font-size: large;
  text-decoration: none;
}
.hidden {
  display: none;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin: 1rem;
  /* box-shadow: 0 0 0px 1px white; */
  border-bottom: 1px solid white;
}

.fa-user-circle {
  /* margin: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.user-profile-button {
  /* height: 2rem;
  width: 2rem; */
  display: flex;
  padding: .25rem .5rem;
  font-size: 1rem;
  border-radius: 10px;
  position: relative;
  background: black;
  border: none;
  margin-right: 2rem;
  color: #7B586B;
  box-shadow: 0 0 5px 2px black;
}

.user-profile-button:hover {
  /* background-color: green; */
  color: white;
  cursor: pointer;
}
.profile-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  /* width: 5rem; */
  /* box-shadow: 0 0 0px 1px white; */
}

.write-button-span {
  position: relative;
}

.write-button {
  font-weight: bold;
  font-size: 1rem;
  background: black;
  box-shadow: 0 0 5px 5px black;
  border: none;
  margin-right: 1rem;
  color: #7B586B;
}

.write-button:hover {
  cursor: pointer;
  /* color: #D4DBE2; */
  color: white;
  /* background-color: #D4DBE2; */
}

.demo-button-div {
  margin-top: 1rem;
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

input {
  padding: .25rem;
  border:none;
  width: 100%;
}

textarea {
  padding: .25rem;
  border:none;
  width: 100%;
}
.demo-user-button:hover {
  background: #7B586B;
  color: white;
}

.btn {
  padding: .33rem;
}
.btn:hover{
  cursor: pointer;
}

.delete:hover {
  background-color: red;
}

.edit:hover {
  background-color: #7B586B;
}
.edit {
  margin-right:1rem;
}
.error {
  color: rgb(0, 0, 0);
  /* position: absolute; */
  margin-left: 1rem;
}
.login-button {
  margin-bottom: .25rem;
}
.write-button-li {
  margin-bottom: .25rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid black;
}
.review-err {
  position: absolute;
  top: -1.1rem;
  left: 5rem;
  /* background-color: black; */
}
