.chapter-content-div {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}
.chapter-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapter-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background: rgb(133, 124, 124);
}

.chapter-form-div {
    display: flex;
    flex-direction: column;
}

.chapter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.the-body {
    width: 70vw;
    max-width: 50rem;

}

.the-body textarea {
    width: 100%;
    height: auto;
    background: rgb(182 154 154);
    border: none;
    box-shadow: 0 0 5px 5px rgba(182, 154, 154, 0.404);
    min-height: 500px;
    /* padding-bottom: 500px; */
    font-size: 18px;
    /* font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; */
    line-height: 24px;
}
.chapter-body {
    border-top: 2px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-left: 1rem;

    margin-bottom: 1rem;
}
.chapter-body::placeholder {
    color: white;
}
