.chapter-content-div {
    /* background-color: green; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 600px;
}
.red {
    color: red;
}
.chapter-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapter-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    /* background: #453C41; */
    border-radius: .5rem;
    color: white;
    margin: 1rem 0;
}
.chapter-title {
    word-break: break-word;
}
.chapter-t-input {
    /* background-image: linear-gradient(to right, #1d0f0f, #453c41); */
    background-color: black;

}
.unique-classname {
    margin-left: 2rem;
}
.save-submit {
    margin-bottom: 2rem;
}
.chapter-form-div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.chapter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.the-body {
    width: clamp(35rem, 80vw, 50rem);
    margin-bottom: 1rem;
}
.chapters-div {
    align-self: baseline;
    margin-left: 2rem;
}
.the-body textarea {
    width: 100%;
    height: auto;
    background: #453C41;
    border: none;
    box-shadow: 0 0 5px 5px rgba(182, 154, 154, 0.404);
    min-height: 500px;
    /* padding-bottom: 500px; */
    font-size: 18px;
    color: white;
    /* font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; */
    line-height: 24px;
}
.chapter-body {
    /* border-top: 2px solid white; */
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    padding: 1rem;
}
.chapter-body::placeholder {
    color: white;
}
.chapter-body p {
    text-wrap: wrap;
    line-height: 1.35;
    font-size: 1rem;
    font-family: monospace;
}

.ql-editor > p {
    white-space: pre-wrap;
}
.ql-snow .ql-picker.ql-header{
    display: none;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: black;
}
.purchase-chapter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.unlock-story-text {
    text-align: center;
}
/* .quill {

} */
.purchase-modal-div {
    padding: 1rem;
}
.purchase-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ql-snow .ql-stroke {
    stroke: #fff !important;
}
.ql-bold {
    color: white !important;
}
.ql-editor.ql-blank::before {
    color: rgb(255, 255, 255) !important;
}
.ql-editor {
    background-color: black;
}
.ql-editor * {
    font-family: monospace;
    font-size: 1rem;
}
.chapter-body-length {
    position: absolute;
    top: -1.5rem;
}
.chapter-title-long {
    position: absolute;
}
.fa-lock {
    margin: 1rem 0;
}
.click-me {
    margin-top: 2rem;
}
.go-button {
margin-left: 1rem;
}
.select-chapter{
    background: black;
    color: white;
    padding: .25rem;
}
.review-this {
    margin: 1rem;
}
