.story-card-li {
    height: 100px;
    margin: .5rem;
    box-shadow: 0 0 2px 2px #7B586B;
}
.story-card-li:hover {
    cursor: pointer;
    background-color: #7B586B;
}

.story-card-li img {
    height: 100px;
    width: 70px;
}

.all-story-cover-img {
    height: 100px;
    box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}
.all-story-cover-img:hover{
    cursor: pointer;
}

.story-title-p {
    overflow: hidden;
    margin: .5rem 1rem;
    font-weight: 700
}

.all-story-info {
    width: 85%;
}

.parts {
    margin: .5rem 1rem;
}
