.story-card-div {
    /* height: 100px; */
    display: flex;
}
.myworks-div h2 {
    text-align: center;
}
.myworks-div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-card-li {
    /* height: 2rem; */
    width: 30rem;
    box-shadow: 0 0 0px 1px white;
    display: flex;
}

.img-div {
    height: 100px;
    width: 100px;
}

.img-div img {
    height: 100%;
}

.title {
    font-weight: bold;
    margin-top: 1rem;
}
.btn {
    padding: .33rem;
}

.delete:hover {
    background-color: red;
}

.tag-selection-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.tag-selector{
    margin-top: 1rem;
}

.tag-selection-div h5 {
    text-align: center;
}
