.story-card-div {
    /* height: 100px; */
    display: flex;
    padding: .25rem;
}
.myworks-div h2 {
    text-align: center;
}
.myworks-div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.myworks-div {
    margin-top: 3rem;
}

.story-card-li {
    /* height: 2rem; */
    width: 30rem;
    box-shadow: 0 0 0px 1px white;
    display: flex;
}
.the-buttons {
    align-self: baseline;
    display: flex;
    justify-content: center;
}
.the-buttons div {
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.the-buttons button {
    padding: .65rem;
    margin: 0 0.5rem;
    width: 3rem;
}
.img-div {
    height: 100px;
    /* width: 100px; */
    margin-right: 1rem;
}
.title-p {
    /* width: 200px;
    height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    -webkit-line-clamp: 1; */
}
.img-div img {
    height: 100%;
    /* width: 100px; */
    aspect-ratio: 3/4;
    object-fit: cover;
}

.title {
    width: 200px;
    height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    -webkit-line-clamp: 1;
}

.tag-selection-div {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.tag-selector{
    margin-top: 1rem;
}

.tag-selection-div h5 {
    text-align: center;
}

.new-story-button-div {
    display: flex;
    justify-content: center;
}
.new-story-button {
    border: 1px solid black;
    padding: .33rem;
    margin: 1rem;
    background-color: black;
    color: #D4DBE2;
    box-shadow: 0 0 2px 2px black;
}

.new-story-button:hover {
    cursor: pointer;
    /* background-color: grey; */
    color: white;
    box-shadow: 0 0 2px 2px #7B586B;
}
.myworks-extra ul {
    align-items: center;
}
p{
    /* width:100%; */

    /**Major Properties**/
    /* white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; */
    word-wrap: break-word;
  }

.my-story-card-li {
box-shadow:0 0 2px 2px #7B586B;
margin: 1rem;
/* display: flex; */
}

.delete-story-modal {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.title-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.delete-story-modal button {
    padding: 1rem;
    color: white;
    background: black;
    margin-top: 1rem;
}

.delete-story-modal button:hover {
    opacity: .5;
}
.plus:hover{
    background-color: green;
}
.mrg-btm-1 {
    margin-bottom: .25rem;
}
